.home{
  display: flex;
  justify-content: space-around;
}
body{
  /* border:1px solid red */
}
input{
  margin: 10px;
}
.home{
  background-image: url("./layout/bg.jpg");
  
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}